#------------------------------------------------------------------------------
# curly braces
#------------------------------------------------------------------------------

snippet { "{<cursor>} - curly brace expansion"
{${1}} $0
endsnippet

snippet "(\S+)\{" "<word>{<cursor>} - curly brace expansion" r
`!p snip.rv=match.group(1)`{${1}} $0
endsnippet

#------------------------------------------------------------------------------
# braces
#------------------------------------------------------------------------------
snippet ( "(<cursor>) - brace expansion"
(${1}) $0
endsnippet

snippet "(\S+)\(" "<word>[<cursor>] - brace expansion" r
`!p snip.rv=match.group(1)`(${1}) $0
endsnippet

#------------------------------------------------------------------------------
# brackets
#------------------------------------------------------------------------------
snippet [ "[<cursor>] - brackets"
[${1}] $0
endsnippet

snippet "(\S+)\[" "<word>[<cursor>] - bracket expansion" r
`!p snip.rv=match.group(1)`[${1}] $0
endsnippet

