snippet {{ "Object" b
{
	${VISUAL}$0
}
endsnippet

snippet { "curly braces inside, tab to outside" b
{$1}$0
endsnippet

snippet {\ "curly braces outside" b
{}$0
endsnippet

snippet h "Hash" b
	"${1:key}": ${0:value},
endsnippet

snippet ha "Hash" b
	"${1:key}": $[0:value],
endsnippet

snippet [[ "curly braces inside, tab to outside" b
[
	${VISUAL}$0
]
endsnippet

snippet [\ "curly braces outside" b
[]$0
endsnippet

snippet [ "curly braces inside, tab to outside" b
[$1]$0
endsnippet
